@media only screen and (max-width:768px) {
    .nav{
        flex-direction: col
    }
    .nav ul {
        display: none;
    }

    .logo {
        display: flex !important;
    }

    .main {
        flex-direction: column-reverse;
    
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .cards {
        flex-direction: column-reverse;
    }
    
    
}