* {
    padding: 0%;
    margin: 0%;
    font-family: arial;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red ; */

}

.logo {
    width: 15%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid goldenrod; */

}

.logo img {
    width: 60px;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid darkcyan; */
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

.nav .button-1 {
    padding: 13px 35px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    font-size: 18px;
}


.nav .button-2 {
    padding: 13px 35px;
    /* border: 1px solid black; */
    border-radius: 30px;
    background-color: #7824ff;
    font-size: 18px;
    color: white;
}

.two {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.left {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid  royalblue; */
    flex-direction: column;
}

.right {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid  rosybrown; */
    flex-direction: column;
}

.left h5 {
    color: #7824ff;
    font-size: 20px;
}

.left h1 {

    font-size: 65px;
    width: 39%;

}

/*-----------top------*/
.top {
    width: 100%;
    min-height: 50vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imge1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.imge2 {
    width: 200px;
    border-radius: 50%;
}

.bottom {
    width: 100%;
    min-height: 50vh;
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.img1 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding-top: 15px;

}

.img2 {
    width: 200px;
    height: 200px;
    border-radius: 60%;
}

.last-section {
    width: 50%;
    height: 80px;
    /* border: 2px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: absolute;
    bottom: -60px;
    background-color: white;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.468); */
}

.part1 {
    width: 220px;
    height: 70px;
    /* border: 2px solid forestgreen; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(190, 188, 194);
    /* flex-direction: column; */
}

.fa-location-dot {
    font-size: 30px;
    /* background-color: blue; */
    /* border-radius: 50%;  */

}

.part1 h1 {
    font-size: 90%;
}

.part2 {
    width: 230px;
    height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: c;
}

.icon2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(190, 188, 194);
    /* flex-direction: column; */
}



.fa-calendar-days {
    font-size: 35px;
}

.part2 h1 {
    font-size: 20px;
}

.part3 {
    width: 230px;
    height: 70px;
    /* border: 2px solid gold; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.part3 button {
    padding: 16px 22px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 17px;
    border-radius: 30px;
}

.second-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;

    /* border: 5px solid forestgreen; */
    flex-direction: column;
}

.second-section h5 {
    color: #7824ff;
    font-size: 30px;
}

.second-section h1 {
    font-size: 40px;
}

.second-section p {
    font-size: 18px;
    width: 28%;
}

.cards {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.card-item {
    width: 285px;
    height: 350px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-item img {
    width: 260px;
}

.card-item-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-item-data h1 {
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}

.card-item-data p {

    display: flex;
    font-size: 20px;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.card-item-data p i {
    font-size: 20px;
}

.tree {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.left {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 4px solid gray;
    flex-direction: column;
    position: relative;
}

.ball img {
    width: 350PX;
    height: 350px;
    border-radius: 50%;

}

.car img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 60px;
    border: 6px solid white;
}

.right {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: 4px solid mediumspringgreen; */
}

.right h5 {
    color: #7824ff;
    padding-left: 60px;
    font-size: 30px;
}

.right h1 {
    font-size: 33px;
    width: 65%;
    padding-left: 60px;
}

.right p {
    font-size: 18px;
    width: 60%;
    padding-left: 60px;
}

.right .cards {
    width: 100%;
    height: 100px;
    border: 3px solid turquoise;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards .card1 {
    width: 33%;
    height: 90px;
    border: 4px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 10px;
    padding-left: 5px;

}

.cards2 .card1 h1 {
    font-size: 50px;
    padding: 0%;
    width: 60px;
}

.cards2 .card1 p {
    font-size: 20px;
    padding: 0%;
    width: 45%;
}




.right2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 4px solid mediumspringgreen;
}

.right2 h5 {
    color: #7824ff;
    padding-left: 60px;
    font-size: 30px;
}

.right2 h1 {
    font-size: 33px;
    width: 65%;
    padding-left: 60px;
}

.right2 p {
    font-size: 18px;
    width: 60%;
    padding-left: 60px;
}
.cards2 .card2 {
    width: 33%;
    height: 90px;
    /* border: 4px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards2 .card2 h1 {
    font-size: 50px;
    padding: 0%;
    width: 60px;
}

.cards2 .card2 p {
    font-size: 20px;
    padding: 0%;
    width: 45%;
}

.cards2 .card3 {
    width: 33%;
    height: 90px;
    /* border: 4px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.cards2 .card3 h1 {
    font-size: 50px;
    padding: 0%;
    width: 60px;
}


.cards2.card3 p {
    font-size: 20px;
    padding: 0%;
    width: 45%;
}

.left2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 4px solid gray;
    flex-direction: column;
    position: relative;
}

.left2 img {
    width: 450PX;
   F border-radius: 50%;
}
JBWRVOJ{
    
}