* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: arial;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    background-color: red;
}

.logo {
    width: 17%;
    height: 60px;
    /* border: 2px solid forestgreen; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo h1 {
    font-size: 22px;
}

.logo img {
    width: 100px;
}

.nav ul {
    width: 40%;
    /* border: 2px solid chocolate; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}

.icon {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    gap: 60px;
}

.fa-phone {
    font-size: 30px;
}

.fa-user {
    font-size: 30px;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid darkmagenta;
    background: url(Black-White-Cat-eating-1080x675.jpg);
    background-size: cover;
}

.left {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid darkgoldenrod; */
    background-color: rgb(0, 0, 0, 0.349);
    gap: 30px;
    flex-direction: column;
}

.left h1 {
    font-size: 40px;
    color: white;
}

.left p {
    font-size: 19px;
    color: white;
}

.left button {
    padding: 15px 16px;
    border: none;
    font-size: 23px;
    color: orange;
    border-radius: 20px;
}

.right {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid forestgreen; */
    background-color: rgb(0, 0, 0, 0.349);
}

.right img {
    width: 70%;
}

.second {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
}

.cards {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid greenyellow; */
    gap: 10px;
    background-color: #ece5e5;
}

.card-item {
    width: 330px;
    height: 450px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    flex-direction: column;
    box-shadow: 4px 4px 4px 4px rgba(17, 9, 9, 0.596);
    background-color: white;
}
.card-item h2{
    font-size: 140%;
}
.card-item p{
    font-size: 30px;
}
.card-item button{
   padding: 12px 40px;
   border: none;
   background-color: red;
   font-size: 19px;
   border-radius: 30px;
}
.tree{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px red;
}
.imgs{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid forestgreen;
    /* flex-direction: column;/

}

