* {
    padding: 0%;
    margin: 0%;
    font-family: arial;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */

}

.nav img {
    width: 50px;
}

.logo {
    width: 15%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid goldenrod; */

}

.logo img {
    width: 60px;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid darkcyan; */
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 21px;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(414631ca3e1853a7f4fc3870ccb132b9.jpg);
    object-fit: cover;
    /* border: 4px solid darkgrey; */
}
.left{
    width: 100%;
    height: 100vh;
    /* border: 5px solid forestgreen; */
}


.main .right{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 9px solid red; */
    flex-direction: column;
}
.right h1{
    color: white;
    font-size: 60px;
}
.right p{
    color: white;
    font-size: 60px;
}
.card{
    width: 50%;
    height: 50%;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card button{
    padding: 10px 20px;
    font-size: 30px;
    border:1px solid  black;
    border-radius: 30px;
    background-color: white;
}
.card h5{
    color: white;
    font-size: 40px;
}

.two{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
    flex-direction: column;
}
.top{
    width: 100%;
    height: 40%;
    /* border: 8px solid darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;


}
.card-1{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-1 img{
    width: 90%;
}
.card-1 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-1 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-2{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-2 img{
    width: 90%;
}
.card-2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-2 P{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-3{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-3 img{
    width: 90%;
}
.card-3 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-4{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-4 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-4 img{
    width: 90%;
}
.card-4 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* -----------------------------------------BOTTOM------------------------------------------ */
.bottom{
    width: 100%;
    height: 30%;
    /* border: 9px solid cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-5{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-5 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-5 img{
    width: 90%;
}
.card-5 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-6{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-6 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-6 img{
    width: 90%;
}
.card-6 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-7{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-7 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-7 img{
    width: 90%;
}
.card-7 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-8{
    width: 30%;
    height: 60%;
    /* border: 3px solid gold; */

}
.card-8 h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-8 img{
    width: 90%;
}
.card-8 P{
    font-size: 20PX;
    display: flex;
    justify-content: center;
    align-items: center;
}

